<h1>All Sales Vinyl</h1>

<h3>Available Records</h3>

<form action="/albums">
  <div class="form-group">
    <label for="search_input">Search</label>
    <input id="search" name="search_input" class="form-control" type="text">
  </div>
  <button type="submit" name="search_input" class="danger">SEARCH!</button>
</form>

<form action="/albums" method="get">
  <input name="_method" type="hidden" value="clear">
  <button type="submit" name="clear">Clear Results</button>
</form>

<!-- <form action="/albums" method="get">
  <input name="_method" type="hidden" value="search">
  <button type="submit" name="clear">Search</button>
</form> -->

<!-- <label  class = "select" for="size">Select the size of your pie</label>
        <select class="form-control" id="size">
          <option value="" selected disabled>Please select</option>
          <option value = "Small">Small $5</option>
          <option value = "Medium">Medium $10</option>
          <option value = "Large">Large $15</option>
        </select>
 -->











<% if @albums.any? %>
<ul>
  <% @albums.each do |album| %>
  <li><a href="/albums/<%= album.id %>"><%= album.name %></a></li>
  <li><%= album.year %></li>
  <li><%= album.genre %></li>
  <li><%= album.artist %></li>
  <% end %>
</ul>
<% else %>
<p>There are currently no records to display.</p>
<% end %>

<a href="/albums/new">Add a new album</a>
